body{
    margin: 0;
    padding: 0;
}
#nav{
    background-color: rgb(36, 34, 34);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .link {
    float: right;
  }
  
  li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: blueviolet;
  }

#logo{
    float: left;
    color: blueviolet;
}